# FastAPI and related libraries
fastapi # fastapi

# HTTP client
httpx # httpx

# SDK
openai # openai
google-genai==1.3.0 # google.genai
anthropic # anthropic

# File processing
PyMuPDF # fitz
python-docx # docx
openpyxl # openpyxl
python-pptx # pptx

# Testing
pytest # pytest
pytest-asyncio
python-dotenv #dotenv
protobuf
